@import "tailwindcss";
@import "tw-animate-css";
@import "leaflet/dist/leaflet.css";
@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

